<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Todo
    </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/edit">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-list>
      <ion-item [routerLink]="'/edit/' + todo.id" *ngFor="let todo of todoService.todos" detail>
        {{ todo.title}}
      </ion-item>
    </ion-list>
  </div>
</ion-content>
